<h1>Mythologies</h1>

<table class="table-auto">
  <thead>
    <tr>
      <th>Mythology</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @mythologies.each do |m| %>
      <tr>
        <td><%= m.name %></td>
        <td><%= m.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>