<h1>Mythologies</h1>

<table class="table-auto">
  <thead>
    <tr>
      <th></th>
      <th>Mythology</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @mythologies.each do |m| %>
      <tr>
        <td><%= m.id.to_s + '. ' + m.name %></td>
        <td><%= m.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div>
  <a href="/stories/new">Generate a story</a>
</div>