<%= render 'layouts/turbo_dialog' do %>
<h1 class="font-bold">Gods</h1>
<table class="table-auto">
  <tbody>
    <% @gods.each do |g| %>
      <tr>
        <td  class="px-4"><%= g.id.to_s + '. ' + g.name %></td>
        <td><%= g.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% end %>
